@media (max-width:768px) {
  .linesgap {
    margin-left: 0;
  }

  .creategap {
    display: none;
  }

  .removesearchbox {
    display: none;
  }

  .reducegap {
    margin: 0;
  }

  .removemic,
  .removecreate {
    display: none;
  }
}
