.toggle{
    background-color: #3f3f46;
    color: #ffff;
}
.adjustment::-webkit-scrollbar {
  display: none;
}
.adjustment {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media (min-width: 320px) and (max-width:425px ) {
 .playvideoresponsive1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}
.titlesize{
    font-size: 15px;
    margin-left: 12px;
}
.adjustment{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-size: 10px;
}
.descriptionsize{
    font-size: 14px;
  margin: 0 15px;
}
.commentsize1,.commentsize2{
 margin-right: 45px;
 text-align: justify;
}
}

@media (min-width: 425px) and (max-width:1024px ) {
 .playvideoresponsive1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 42em;
}
.titlesize{
    font-size: 15px;
    margin-left: 8px;
}
.adjustment{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 68em;
    font-size: 10px;
}
.descriptionsize{
    font-size: 17px;
  margin: 0 5px;
}
.commentsize1,.commentsize2{
 margin-right: 20px;
 text-align: justify;
}
}