.active {
    background-color: #3f3f46;
    font-weight: bold;
    padding-right: 35px;
    border-radius: 15px;
}
.toggle{
    display: none;
}
@media (max-width: 768px) {
  .zindexsidebar {
    width: 70%;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
  }
}


@media (min-width:768px) and (max-width:1440px){
    .zindexsidebar{
        width: 25%;
    }
}
@media (min-width:1440px) and (max-width:2560px){
    .zindexsidebar{
        width: 14%;
    }
}